.color-select {

  &__item {
    position: relative;
    overflow: hidden;
    padding: 0;
  }

  &__item:not(.dropdown__item--selected):hover &__overlay {
    left: 0rem;
  }

  &__img {
    height: 145%;
  }

  &__overlay {
    position: absolute;
    left: 3.3rem;
    background-color: white;
    height: 100%;
    width: 100%;
    transform: skewX(-7deg);
    display: flex;
    align-items: center;
    transition: left .3s;
  }

  &__label {
    padding: 1.5rem;
    transform: skewX(7deg);
    width: calc(100% - 3.3rem);

    @media only screen and (max-width: $bp-larger) {
      padding: 1.2rem;
    }
  }

  .dropdown__item--selected {
    .color-select__overlay {
      left: 4.6rem;
    }
  }
}