.cta-btn {
  &,
  &:link,
  &:visited {
    background-image: linear-gradient(45deg, $color-secondary 50%, $color-white 50%);
    background-size: 220%;
    background-position: 100%;
    padding: 2.5rem 4.5rem;
    border: none;
    border-radius: 100px;
    color: $color-primary;
    letter-spacing: 2px;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: $shadow-dark-small;
    outline: none;
    transition: all .2s,
                background-position .3s cubic-bezier(0.215, 0.61, 0.355, 1);
    // funky background-position function: cubic-bezier(.35,.98,.29,1.49)
  }

  &--dark,
  &--dark:link,
  &--dark:visited {
    background-image: linear-gradient(45deg, $color-secondary 50%, $color-primary 50%);
    color: $color-white;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-white;
    background-position: 0%;
    outline: none;
  }
  &:hover,
  &:focus {
    transform: translateY(-4px) scale(1.1);
    box-shadow: $shadow-dark-medium;
  }
  &:active {
    transform: translateY(0);
    box-shadow: $shadow-dark-small;
  }
}