.dropdown {
  position: relative;
  height: 11.2rem;

  &__heading {
    margin-left: 1.3rem;
  }

  &__arrow {
    width: 100%;
    height: 6rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 200;
  }

  &__content {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: .5rem 1fr .5rem;
    position: absolute;
    top: 2.8rem;
    left: 0;
    width: 100%;
    height: 8.0rem;
    transition: all .4s;
    overflow: hidden;
    background-color: $color-white-darker;
    border-radius: 6px;
    z-index: 1000;
    padding: 1.3rem;

    &--3-col {
      grid-template-columns: .5rem repeat(3, 1fr) .5rem;

      /*@media only screen and (max-width: $bp-medium) {
        grid-template-columns: .5rem repeat(2, 1fr) .5rem;
      }*/
    }
    
    &--7-row {
      grid-template-rows: repeat(8, min-content);

      /*@media only screen and (max-width: $bp-medium) {
        grid-template-rows: repeat(11, min-content);
      }*/
    }
    &--3-row {
      grid-template-rows: repeat(4, min-content);
    }

    &:focus {
      outline: none;
      z-index: 2000;
    }
    &--7-row:focus {
      height: calc(7 * 4.5rem + 8.3rem);
      /*@media only screen and (max-width: $bp-medium) {
        height: calc(10 * 4.5rem + 8.3rem);
      }*/
    }
    &--3-row:focus {
      height: calc(3 * 4.5rem + 8.3rem);
    }

    // fill in the padding columns
    &::after {
      content: "";
      grid-row: 2 / -1;
      grid-column: -2 / -1;
    }
    &::before {
      content: "";
      grid-row: 2 / -1;
    }
  }

  &__item {
    height: 4rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: $shadow-dark-smallest;
    transition: transform 0s .2s,
                box-shadow 0s .2s;
    padding: 1.9rem;
    border-radius: 3px;

    @media only screen and (max-width: $bp-larger) {
      font-size: 1.1rem;
    }

    &--selected {
      height: 6rem;
      font-size: 2.2rem;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      order: -1;
      margin-bottom: .5rem;
      transition: transform .2s,
                  box-shadow .2s;
      box-shadow: $shadow-dark-smallest;
    }
  }

  
  // focus and hover states
  &:focus-within {
    @include arrowUpFull;

    .arrow:not(.arrow--disabled):hover {
      @include arrowUpHalf;
    }
  }
  &__content:hover &__item--selected {
    transform: translateY(-3px);
    box-shadow: $shadow-dark-smaller;
  }
  &__content:hover &__arrow {
    transform: translateY(-3px);
  }
  &:focus-within &__item--selected {
    transform: translateY(-6px);
    box-shadow: $shadow-dark-small;
  }
  &:focus-within &__arrow {
    transform: translateY(-6px);
  }

  // changes to disabled dropboxes
  &--disabled {
    opacity: .3;
  }

  &--disabled &__heading {
    text-decoration: line-through;
  }

  &--disabled &__content:focus {
    height: 8rem;
  }

  &--disabled:focus-within &__item--selected,
  &--disabled &__content:hover &__item--selected {
    transform: translateY(0);
    box-shadow: $shadow-dark-smallest;
  }
  &--disabled:focus-within &__arrow,
  &--disabled &__content:hover &__arrow {
    transform: translateY(0);
  }
}